# Tarea 1 Bases de Datos 2022-1 Grupo XX

_Recuerde modificar esta celda y la siguiente! (Borre esta línea también)._

## Integrantes:
* Russel Guevara - 202073121-7
* Pedro Orellana Collins - 202073059-8
* Joaquín Pabst Olmedo - 202073016-4

## Requisitos para Correr el Notebook

Para poder utilizar este Notebook se debe tener instalado:
- **Python 3**
- **Jupyter**
- La librería **ipython-sql** (Poder ejecutar sql en Jupyter Notebook)
- ToolKit **sqlalchemy**
- PostgreSQL y su conector desde Python(**psycopg2**)

**IMPORTANTE:** Este Jupyter Notebook se conectará a su servicio de Base de Datos PostgreSQL de manera **local**, por lo que **no funcionará correctamente en el entorno Google Collab.**

Para instalar las dependencias, ejecute (recuerde actualizar pip3):

In [1]:
! pip3 install ipython-sql
! pip3 install sqlalchemy
! pip3 install psycopg2

#Use to generate names
! pip3 install names

Requirement already satisfied: ipython-sql in c:\users\joaco\appdata\local\programs\python\python310\lib\site-packages (0.4.0)
Requirement already satisfied: sqlparse in c:\users\joaco\appdata\local\programs\python\python310\lib\site-packages (from ipython-sql) (0.4.2)
Requirement already satisfied: ipython>=1.0 in c:\users\joaco\appdata\local\programs\python\python310\lib\site-packages (from ipython-sql) (8.1.1)
Requirement already satisfied: prettytable<1 in c:\users\joaco\appdata\local\programs\python\python310\lib\site-packages (from ipython-sql) (0.7.2)
Requirement already satisfied: ipython-genutils>=0.1.0 in c:\users\joaco\appdata\local\programs\python\python310\lib\site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: six in c:\users\joaco\appdata\local\programs\python\python310\lib\site-packages (from ipython-sql) (1.16.0)
Requirement already satisfied: sqlalchemy>=0.6.7 in c:\users\joaco\appdata\local\programs\python\python310\lib\site-packages (from ipython-sql) (1.4.32)
Requirement already satisfied: colorama in c:\users\joaco\appdata\local\programs\python\python310\lib\site-packages (from ipython>=1.0->ipython-sql) (0.4.4)
Requirement already satisfied: backcall in c:\users\joaco\appdata\local\programs\python\python310\lib\site-packages (from ipython>=1.0->ipython-sql) (0.2.0)
Requirement already satisfied: matplotlib-inline in c:\users\joaco\appdata\local\programs\python\python310\lib\site-packages (from ipython>=1.0->ipython-sql) (0.1.3)
Requirement already satisfied: pygments>=2.4.0 in c:\users\joaco\appdata\local\programs\python\python310\lib\site-packages (from ipython>=1.0->ipython-sql) (2.11.2)
Requirement already satisfied: pickleshare in c:\users\joaco\appdata\local\programs\python\python310\lib\site-packages (from ipython>=1.0->ipython-sql) (0.7.5)
Requirement already satisfied: setuptools>=18.5 in c:\users\joaco\appdata\local\programs\python\python310\lib\site-packages (from ipython>=1.0->ipython-sql) (58.1.0)
Requirement already satisfied: stack-data in c:\users\joaco\appdata\local\programs\python\python310\lib\site-packages (from ipython>=1.0->ipython-sql) (0.2.0)
Requirement already satisfied: jedi>=0.16 in c:\users\joaco\appdata\local\programs\python\python310\lib\site-packages (from ipython>=1.0->ipython-sql) (0.18.1)
Requirement already satisfied: traitlets>=5 in c:\users\joaco\appdata\local\programs\python\python310\lib\site-packages (from ipython>=1.0->ipython-sql) (5.1.1)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in c:\users\joaco\appdata\local\programs\python\python310\lib\site-packages (from ipython>=1.0->ipython-sql) (3.0.28)
Requirement already satisfied: decorator in c:\users\joaco\appdata\local\programs\python\python310\lib\site-packages (from ipython>=1.0->ipython-sql) (5.1.1)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\joaco\appdata\local\programs\python\python310\lib\site-packages (from sqlalchemy>=0.6.7->ipython-sql) (1.1.2)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in c:\users\joaco\appdata\local\programs\python\python310\lib\site-packages (from jedi>=0.16->ipython>=1.0->ipython-sql) (0.8.3)
Requirement already satisfied: wcwidth in c:\users\joaco\appdata\local\programs\python\python310\lib\site-packages (from prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0->ipython>=1.0->ipython-sql) (0.2.5)
Requirement already satisfied: pure-eval in c:\users\joaco\appdata\local\programs\python\python310\lib\site-packages (from stack-data->ipython>=1.0->ipython-sql) (0.2.2)
Requirement already satisfied: asttokens in c:\users\joaco\appdata\local\programs\python\python310\lib\site-packages (from stack-data->ipython>=1.0->ipython-sql) (2.0.5)
Requirement already satisfied: executing in c:\users\joaco\appdata\local\programs\python\python310\lib\site-packages (from stack-data->ipython>=1.0->ipython-sql) (0.8.3)
Requirement already satisfied: sqlalchemy in c:\users\joaco\appdata\local\programs\python\python310\lib\site-packages (1.4.32)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\joaco\appdata\local\programs\python\python310\lib\site-packages (from sqlalchemy) (1.1.2)
Requirement already satisfied: psycopg2 in c:\users\joaco\appdata\local\programs\python\python310\lib\site-packages (2.9.3)
Requirement already satisfied: names in c:\users\joaco\appdata\local\programs\python\python310\lib\site-packages (0.3.0)

## Importar dependencias

In [2]:
from datetime import datetime
import random as r
import names
import string

#Librerías para PostgreSQL
import psycopg2

Para conectarse a la base de datos, completen los datos relevantes en la variable DATABASE_URL.

* Cambie `user` por el usuario que utilizó en Postgres para acceder a la Base de Datos. Por defecto `postgres`.
* Cambie `password` por la contraseña de dicho usuario. **Recuerde borrarla antes de entregar su tarea.**
* Cambie `port` por el puerto en que se ejecuta su servicio de Base de Datos. Por defecto `5432`.
* Cambie `database` por el nombre de la BD (Schema) que creó en Postgres.

Ejemplo: `postgresql://postgres:pass_segura@localhost:5432/tarea-bd`

In [3]:
%reload_ext sql
%env DATABASE_URL=postgresql://postgres:12346@localhost:5432/Tarea1

env: DATABASE_URL=postgresql://postgres:12346@localhost:5432/Tarea1

Para conectarse de forma declarativa a la Base de Datos, utilice el siguiente código:

In [4]:
#Recuerde cambiar los valores de USER, DBNAME y PASSWORD por los mismos de la celda superior.
connection = psycopg2.connect(
   host="localhost",
   user="postgres",
   dbname='Tarea1',
   password="12346"
)

print(connection)
cursor = connection.cursor()

<connection object at 0x000001ED2718A020; dsn: 'user=postgres password=xxx dbname=Tarea1 host=localhost', closed: 0>

## Crear tablas

Aquí inserta el código SQL que creara las tablas de la base de datos:

### Tabla "Usuarios"

In [5]:
%%sql
CREATE TABLE Usuarios (
    ID_usuario INTEGER GENERATED BY DEFAULT AS IDENTITY,
    nombre VARCHAR (45) NOT NULL,
    apellido VARCHAR (45),
    correo VARCHAR (45) NOT NULL,
    contraseña VARCHAR (50) NOT NULL,
    fecha_registro TIMESTAMP NOT NULL,

    PRIMARY KEY (ID_usuario)
);

Done.

[]

### Tabla "Creadores"

In [6]:
%%sql
CREATE TABLE Creadores (
    ID_creador INTEGER GENERATED BY DEFAULT AS IDENTITY,
    nombre VARCHAR (45) NOT NULL,
    apellido VARCHAR (45) NOT NULL,
    popularidad INTEGER,
    Estilo VARCHAR (45),

    PRIMARY KEY (ID_creador)
);

 * postgresql://postgres:***@localhost:5432/Tarea1
Done.

[]

### Tabla "Tipos_NTF"

In [7]:
%%sql
CREATE TABLE Tipos_NFT (
    ID_tipo INTEGER GENERATED BY DEFAULT AS IDENTITY,
    nombre VARCHAR (20) NOT NULL,

    PRIMARY KEY (ID_tipo)
);

 * postgresql://postgres:***@localhost:5432/Tarea1
Done.

[]

### Tabla "NFT"

In [8]:
%%sql
CREATE TABLE NFT (
    ID_nft INTEGER GENERATED BY DEFAULT AS IDENTITY,
    nombre VARCHAR (45) NOT NULL,
    ID_creador INTEGER NOT NULL,
    id_tipo INTEGER,

    PRIMARY KEY (ID_nft),
    FOREIGN KEY (ID_creador)
        REFERENCES Creadores (ID_creador),
    FOREIGN KEY (id_tipo)
        REFERENCES Tipos_NFT (ID_tipo)
);

 * postgresql://postgres:***@localhost:5432/Tarea1
Done.

[]

### Tabla "Precio NFT"

In [9]:
%%sql
CREATE TABLE Precio_NFT (
    ID_nft INTEGER,
    fecha TIMESTAMP NOT NULL,
    precio INT NOT NULL,

    PRIMARY KEY (ID_nft, fecha),
    FOREIGN KEY (ID_nft)
        REFERENCES NFT (ID_nft)
);

 * postgresql://postgres:***@localhost:5432/Tarea1
Done.

[]

### Tabla "Usuario tiene NFT"

In [10]:
%%sql
CREATE TABLE Usuario_tiene_NFT (
    id_usuario INTEGER,
    id_nft INTEGER,
    PRIMARY KEY (id_usuario, id_nft),
    FOREIGN KEY (id_usuario)
        REFERENCES Usuarios (ID_usuario),
    FOREIGN KEY (id_nft)
        REFERENCES NFT (ID_nft)        
);

 * postgresql://postgres:***@localhost:5432/Tarea1
Done.

[]

## Código Generador de Datos

Ejecute este código para cargar datos a las tablas creadas.

PD: Si el codigo tira error por "violar la unicidad de las PK" es por una coincidencia de numeros random, solamente volver a ejecutar el codigo

In [11]:
#Recuerde haber ejecutado todas las celdas anteriores!

# Generador de timestamp aleatorio.
def generate_timestamp():
    year = r.randint(2015,2022)
    month = r.randint(1,12)
    day = r.randint(1,31)
    
    hour = r.randint(0,23)
    minute = r.randint(0,59)
    second = r.randint(0,59)
    
    if month in [4, 6, 9, 11] and day > 30:
        day = 30
        
    if month == 2 and day > 28:
        day = 28
        
    return datetime(year, month, day, hour, minute, second)

def generate_password():
    return ''.join(r.choice(string.ascii_uppercase + string.digits) for x in range(15))

print("Borrando Datos Antiguos...")

# Limpia la base de datos.
connection.commit() # En caso de algun error
query = "TRUNCATE TABLE usuarios, creadores, tipos_nft, nft, precio_nft, usuario_tiene_nft RESTART IDENTITY"
cursor.execute(query)
connection.commit()


print("Generando Datos...")

nft_names = ['Crypto Raptors', 'The Binary Girl', 'Sphere Art', 'Fight Punks', 'Thunder NFT', 'Artistic Alpha', 'Digital Unicorns', 'Bling Bits', 'Secret Stones', 'Crypto Potato', 'Futuristic Realism', 'Nova Auroras', 'Dreamy Imaginations', 'Reflected Light', 'Spells of Genesis', 'Crypto Felines', 'Dose of Art', 'To The Moon', 'Artful Antlers', 
'Butterfly Dust', 'Depressed Dragons', 'Crypto Diamonds', 'Healthy Hedgehogs', 'Crypto Jackpot', 'Minecraft Sphere', 'Crypto Boom', 'Lucky Lizards', 'Rockin Crypto', 'Crystalline Canyon', 'Koala Kickers', 'Clumsy Crocodiles', 'Mountain of Clouds', 'Blizz Blizzard', 'Cryptokitty Ville', 'Cryptonaut', 'Mike Halloween Yodelers', 'The Teacup Pomeranian', 
'Art Dodger', 'Awesome Concept', 'Aliens Abduction', 'Animated Hard Art', 'Ultimate Iconic Crypto (IUC)', 'Hilarious Horses', '1-Love', '0NOZER0', 'Meteorite NFT', 'Bee Token', 'Elephant Treasure Hunt', 'Crypto Life', '1NiTRO', 'Dust Rift', 'Tokenized Superheroes', 'Techno Abstract Aesthetics', 'Digi Gods', 'Outstanding Octopus', 'Panther NFT', 
'Cypherpunk Samurai', 'Rich Rhinos', 'Crypto Punked', 'Funny Frogs', 'Bit NFT', 'Phonetic Phoenix', 'Flame Stinger', 'Fight For The Title', 'Koalas in Love', 'Touchdown', 'Resilient Rats', 'Bloom of Flowers', 'NFT Lord', 'Fair Coin', 'Art Rumble', 'Light Embrace', 'Crypto Bunny Ranch', 'Crypto Pigeon Race', 'Water Wiggle', 'Wowoo World', 
'Crypto Club', 'Crypto Kitties Of War', 'Visionary Crypto', 'Women Power', 'Rainbows Ends', 'Cards of Polo', 'Crypto Kitties', 'Busy Bats', '0xHile', 'Token Watchdogs', 'Non Fungible Nibbles', 'Pandamonium', '3D Me', 'Midas NFTs', 'Graceful Gorillas', 'United Crypto Token (UCT)', 'Crypto Art Gallery', 'Dark Horse Lady', 'Block View', 'Arty Arts', 
'White Storm', 'Krypto Queen', 'Clever Chimp', 'Qat Tree Unicorn', 'Anna Frozen Entertainers', 'Artificial Rocks', '0NOCH0', 'Flame Blade', 'The Gold Betta', 'Doge Pal', 'Elite Fur Dog Race Club', 'Dust Sifter', 'Moonlit Butterfly', 'Art Lover Box', 'Madame Witch', 'Fantasy Token', 'Bitsy', 'Hive City', 'Couch Potato', 'Burger Bits', 'Crypto Potluck', 
'Cyberboxer', 'Calm Crows', 'Crumbs NFT', 'Mint Chocolates', 'Atollon Coral', 'Dapper Dinos', 'Flame Cats', 'Addictive Animals', 'Alice Wonderland Frozen Carolers', 'Coin Dance', 'Giant Coin', 'Silver Lining Pixy', 'Headed Shark Attack', 'Ultimate League Of Paragon', 'Darker Clouds', 'Blue Mood Chip', 'Brush Point', 'Enthusiastic Elephants', 'Ultra Cool Dogs', 
'Pink Sports Cars']

dominios = ["hola.cl", "google.com","usm.cl","prestigio.usm.cl","crypto.co","basededatos.top"]

tipos_nft = [
    ("Imagen",), ("Musica",),("Juegos",), ("Modelo 3D",), ("Pixel",), ("Membresia",),("Arte",),
]

estilos = [
    ("Anime",),("Manga",),("Arte Retro",),("Arte Moderno",),("Impresionismo",),("Barroco",),("Arte Antiguo",),("Arte 3D",),("Paisaje",)
]

n_usuarios = 200
n_creadores = 20
n_nft = len(nft_names)
n_tipos_nft = len(tipos_nft)
n_usuario_tiene_nft = 80

usuarios = []
for _ in range(1, n_usuarios+1):
    nombre = names.get_first_name()
    apellido = names.get_last_name()
    correo = nombre.lower()+"."+apellido[:4].lower()+"@"+r.choice(dominios)
    usuarios.append((nombre,apellido,correo,generate_password(),generate_timestamp()))

creadores = [(names.get_first_name(), names.get_last_name(), r.randint(0,5), r.choice(estilos)) for _ in range(1,n_creadores+1)]

nft = [(nft_names[n], r.randint(1,n_creadores), r.randint(1,n_tipos_nft)) for n in range(n_nft)]

precio_nft = [(r.randint(1,n_nft), generate_timestamp(), r.randint(500, 100000)) for _ in range(300)]

usuario_tiene_nft = [(r.randint(1,n_usuarios),r.randint(1,n_nft)) for _ in range(81)]


insert = [
    "INSERT INTO usuarios (nombre, apellido, correo, contraseña, fecha_registro) VALUES (%s, %s, %s, %s, %s)",
    "INSERT INTO creadores (nombre, apellido, popularidad, estilo) VALUES (%s, %s, %s, %s)",
    "INSERT INTO tipos_nft (nombre) VALUES (%s)",
    "INSERT INTO nft (nombre, id_creador, id_tipo) VALUES (%s, %s, %s)",
    "INSERT INTO precio_nft (id_nft, fecha, precio) VALUES (%s, %s, %s)",
    "INSERT INTO usuario_tiene_nft (id_usuario, id_nft) VALUES (%s, %s)"
]


for usuario in usuarios:
    cursor.execute(insert[0], usuario)

for creador in creadores:
    cursor.execute(insert[1], creador) 

for tipo in tipos_nft:
    cursor.execute(insert[2], tipo)  

for n in nft:
    cursor.execute(insert[3], n)  
    
for precio in precio_nft:
    cursor.execute(insert[4], precio) 
    
for usr in usuario_tiene_nft:
    cursor.execute(insert[5], usr)
    
connection.commit()

print("Todo Listo!")

Borrando Datos Antiguos...
Generando Datos...
Todo Listo!

## Consultas

Escriba aquí las consultas pedidas. Recuerde agregar una descripción _breve_ de cómo funciona la solución. **Escriba las consultas de forma ordenada.**

**NOTA:** Cuando en una consulta diga "X cosa" significa que ustedes deben de elegir ese X por lo que para cualquier otro X debe de funcionar de igual forma.

### Consulta 1
**ID y Nombre del creador de un estilo X con mayor popularidad.**
###### Si hay más de uno, ponga solamente el primero

Ejemplo:

|Id |  Creador      |
|---|-----------|
| 12 |Levi Ackerman |

**Solución:** 
SELECT para mostrar la id del creador y 
utilizamos ALIAS para juntar los datos de nombre y apellido, además de operadores para poner un espacio entre estos,
de la tabla creadores

el WHERE es para elegir el estilo que debe tener el creador, puede ser remplazado por cualquier estilo X

ORDER BY, ordena los datos segun la popularidad y el DESC nos asegura que el primer dato es el mayor

LIMIT 1, asegura que se muestre solo el primer valor, el cual gracias al ORDER BY DESC, termina por ser el mayor.

In [12]:
%%sql
SELECT
id_creador, nombre || ' ' || apellido AS creador 
FROM 
    creadores
WHERE
    estilo = 'Anime'
ORDER BY 
    popularidad DESC
LIMIT
    1;

 * postgresql://postgres:***@localhost:5432/Tarea1
1 rows affected.

[(4, 'Debra Walker')]

### Consulta 2
**Cantidad de precios que ha tenido históricamente cada NTF.**

Ejemplo:


| NFT     | Cantidad de precios |
|--------------|----------|
| Minecraft Sphere |    3     |
| The Binary Girl     |    7     |
| ...          |   ...    |

**Solución:** Con SELECT mostramos el nombre del nft (nft.nombre) y la cantidad de precios que tiene este nft (COUNT(precio)) a estos les ponemos sus respectivas alias.

En el FROM hacemos un INNER JOIN de la tabla nft y la precio_nft, donde calzaran en el id del nft (precio_nft.id_nft = nft.id_nft), esto con el fin de generar una tabla en la tengamos los datos del nft y sus precios a lo largo del tiempo), luego los agrupamos por nombre.

In [13]:
%%sql
SELECT 
    nft.nombre AS "NFT", 
    COUNT(precio) AS "Cantidad de precios"
FROM 
    nft INNER JOIN precio_nft 
ON 
    precio_nft.id_nft = nft.id_nft
GROUP BY 
    nft.nombre;

 * postgresql://postgres:***@localhost:5432/Tarea1
122 rows affected.

[('Spells of Genesis', 5),
 ('Dose of Art', 3),
 ('Aliens Abduction', 3),
 ('Meteorite NFT', 3),
 ('Atollon Coral', 2),
 ('Minecraft Sphere', 4),
 ('Bling Bits', 1),
 ('United Crypto Token (UCT)', 2),
 ('Depressed Dragons', 2),
 ('Crypto Jackpot', 2),
 ('Artificial Rocks', 3),
 ('Artistic Alpha', 1),
 ('Light Embrace', 3),
 ('Pink Sports Cars', 1),
 ('Cards of Polo', 2),
 ('Addictive Animals', 2),
 ('Visionary Crypto', 1),
 ('Animated Hard Art', 2),
 ('Lucky Lizards', 1),
 ('Bloom of Flowers', 1),
 ('Flame Stinger', 2),
 ('The Gold Betta', 2),
 ('Doge Pal', 4),
 ('Art Lover Box', 3),
 ('Darker Clouds', 1),
 ('Digi Gods', 4),
 ('Token Watchdogs', 2),
 ('0NOCH0', 1),
 ('Futuristic Realism', 2),
 ('Wowoo World', 2),
 ('Crypto Felines', 5),
 ('Hilarious Horses', 2),
 ('Ultra Cool Dogs', 3),
 ('Crypto Pigeon Race', 4),
 ('Mint Chocolates', 2),
 ('Rainbows Ends', 1),
 ('1-Love', 3),
 ('Alice Wonderland Frozen Carolers', 2),
 ('Tokenized Superheroes', 2),
 ('Rich Rhinos', 3),
 ('Crypto Club', 2),
 ('Elite Fur Dog Race Club', 3),
 ('Crypto Art Gallery', 2),
 ('Mountain of Clouds', 2),
 ('Couch Potato', 1),
 ('Panther NFT', 1),
 ('Hive City', 1),
 ('Moonlit Butterfly', 1),
 ('Cryptokitty Ville', 2),
 ('Bee Token', 3),
 ('Crystalline Canyon', 4),
 ('Brush Point', 2),
 ('Reflected Light', 4),
 ('Outstanding Octopus', 2),
 ('Healthy Hedgehogs', 6),
 ('Crypto Potluck', 6),
 ('Techno Abstract Aesthetics', 1),
 ('Thunder NFT', 3),
 ('Dust Rift', 5),
 ('Giant Coin', 2),
 ('Touchdown', 3),
 ('Midas NFTs', 1),
 ('Funny Frogs', 2),
 ('Calm Crows', 2),
 ('Crypto Punked', 2),
 ('Dark Horse Lady', 3),
 ('Dreamy Imaginations', 4),
 ('Crypto Diamonds', 3),
 ('Madame Witch', 1),
 ('Busy Bats', 4),
 ('Dapper Dinos', 3),
 ('Blizz Blizzard', 2),
 ('Pandamonium', 1),
 ('Dust Sifter', 1),
 ('Crypto Raptors', 1),
 ('Crypto Boom', 3),
 ('1NiTRO', 1),
 ('Koala Kickers', 3),
 ('Krypto Queen', 2),
 ('To The Moon', 1),
 ('Graceful Gorillas', 4),
 ('NFT Lord', 1),
 ('Qat Tree Unicorn', 2),
 ('Fight Punks', 1),
 ('Mike Halloween Yodelers', 3),
 ('Koalas in Love', 2),
 ('Fair Coin', 3),
 ('Art Dodger', 1),
 ('Cyberboxer', 1),
 ('Cryptonaut', 4),
 ('0NOZER0', 3),
 ('White Storm', 2),
 ('Burger Bits', 2),
 ('The Binary Girl', 1),
 ('The Teacup Pomeranian', 3),
 ('Flame Blade', 3),
 ('Fantasy Token', 2),
 ('Awesome Concept', 1),
 ('Ultimate League Of Paragon', 3),
 ('Cypherpunk Samurai', 2),
 ('Crypto Potato', 7),
 ('Crypto Bunny Ranch', 3),
 ('Nova Auroras', 3),
 ('3D Me', 6),
 ('Fight For The Title', 1),
 ('Rockin Crypto', 2),
 ('Phonetic Phoenix', 2),
 ('Flame Cats', 4),
 ('Headed Shark Attack', 4),
 ('Butterfly Dust', 3),
 ('Silver Lining Pixy', 2),
 ('Crypto Kitties', 2),
 ('Enthusiastic Elephants', 2),
 ('Arty Arts', 3),
 ('Clever Chimp', 1),
 ('Water Wiggle', 2),
 ('Coin Dance', 4),
 ('Artful Antlers', 5),
 ('Elephant Treasure Hunt', 3),
 ('Block View', 1),
 ('Ultimate Iconic Crypto (IUC)', 3),
 ('Bit NFT', 3)]

### Consulta 3
**El nombre y tipo (nombre del tipo) del NFT históricamente más caro.**
###### Si hay más de uno, ponga solamente el primero
Ejemplo:

| NFT    | Tipo | 
|----------------|--------|
| Minecraft Sphere| Arte 3D |

**Solución:** _Escriba aquí la descripción de su solución._

In [14]:
%%sql
SELECT
    * 
FROM 
    Creadores
WHERE
    nombre = 'WillyRex';

 * postgresql://postgres:***@localhost:5432/Tarea1
0 rows affected.

[]

### Consulta 4
**Nombre y apellido del usuario con más número de NFTs.**

Ejemplo:

| Nombre     | Apellido |
|----------------|--------|
| Levi | Ackerman |

**Solución:** 

SELECT para mostrar los datos del usuario pedidos

FROM de la union entre la tabla usuarios y usuario_tiene_nft

ON la id del usuario, asi contamos con toda la info del usuario y sus adquicisiones en la misma tabla

GROUP BY la id de usuario, asi eliminando duplicados

ORDER BY COUNT(id_nft) DESC nos ordena los usuarios segun la cantidad de id_nft que tenian asociado en usuario_tiene_nft, en orden descendiente

y finalmente LIMIT 1 nos deja solo al usuario con el mayor numero de nft asociado a su id

In [15]:
%%sql
SELECT 
    usuarios.nombre AS "Nombre", 
    usuarios.apellido AS "Apellido"
FROM
    usuarios INNER JOIN usuario_tiene_nft
ON
    usuario_tiene_nft.id_usuario = usuarios.id_usuario
GROUP BY
    usuarios.id_usuario
ORDER BY
    COUNT(id_nft) DESC
LIMIT 1;

 * postgresql://postgres:***@localhost:5432/Tarea1
1 rows affected.

[('Leo', 'Mccullough')]

### Consulta 5
**El NFT que más veces cambió de precio historicamente.**

Ejemplo:

|  ID  | NFT | 
|--------|-------|
| 11 |Minecraft Sphere | 

**Solución:** Con SELECT mostramos el id_nft y nombre, estos de la tabla nft.

En el FROM usamos INNER JOIN para unir las tablas nft y precio_nft, donde el id_nft sea similar

Agrupamos (GROUP BY) por id_nft y usamos ORDER BY  para ordenar con la cantidad de precio de forma decendente, haciendo que el nft con mayor cantidad de precios quede en la parte mas alta

Luego hacemos LIMIT 1 para que solo se muestre el nft con mayores cambies de precio en su historial

In [16]:
%%sql
SELECT 
    nft.id_nft AS "ID",
    nft.nombre AS "NFT"
FROM 
    nft INNER JOIN precio_nft 
ON 
    precio_nft.id_nft = nft.id_nft
GROUP BY 
    nft.id_nft
ORDER BY 
    COUNT(precio) DESC
LIMIT 1;

 * postgresql://postgres:***@localhost:5432/Tarea1
1 rows affected.

[(10, 'Crypto Potato')]

### Consulta 6
**Usuarios que NO tienen un NFT.**

Ejemplo

|Nombre | Apellido|
|--------|-------|
|Guillermo    | Diaz |
|Markus | Person |
|Rick   | Astley |
|... | ...| 

**Solución:** _Escriba aquí la descripción de su solución._

In [17]:
%%sql
SELECT
    * 
FROM 
    Creadores
WHERE
    nombre = 'WillyRex';

 * postgresql://postgres:***@localhost:5432/Tarea1
0 rows affected.

[]

### Consulta 7
**Top 4 NFTs más caros actualmente de un id_tipo X .**

Ejemplo:

|NFT | 
|--------|
|Minecraft Sphere | 
|The Binary Girl |
|Koalas in Love | 
|Art Dodger | 

**Solución:** Usamos SELECT DISTINCT para mostrar el nombre de la tabla que haremos en FROM

En el FROM havemos un triple INNER JOIN, la primera tabla (info_precio) es una reduccion de precio_nft en la que seleccionamos solo fecha y precio

La segunda (fecha_actual) es una en la que seleccionamos el id_nft y la fecha maxima del nft (mas actual), esto de la tabla precio_nft, la agrupamos  por id. La primera y la segunda tabla las vinculamos por la fecha. (asi nos deja una tabla solo con las fechas actuales)

La tercera tabla (info_nft) es una reduccion de nft en la cual seleccionamos id_nft y su nombre, luego la vinculamos a la primera por id_nft

Con esto creamos una tabla en la que tenemos los datos del nft y el precio que tienen en la fecha actual

agrupamos por nombre (inf_nft.nombre) ordenamos de forma decendiente por el precio maximo y limitamos a cuatro, de esta forma obtenemos el top 4 actual.

In [18]:
%%sql
SELECT 
	info_nft.nombre
FROM (
		SELECT 
			fecha, 
			precio
		FROM 
			precio_nft
	) info_precio
	INNER JOIN (
		SELECT 
			id_nft, 
			MAX(fecha) AS max_fecha
		FROM 
			precio_nft
		GROUP BY 
			id_nft
	) fecha_actual
	ON
		info_precio.fecha = fecha_actual.max_fecha
	INNER JOIN (
		SELECT 
			id_nft, 
			nombre
		FROM 
			nft 
	) info_nft
ON 
	fecha_actual.id_nft = info_nft.id_nft
GROUP BY 
	info_nft.nombre
ORDER BY 
	MAX(precio) DESC
LIMIT 4;

 * postgresql://postgres:***@localhost:5432/Tarea1
4 rows affected.

[('Thunder NFT',),
 ('Cryptokitty Ville',),
 ('Elephant Treasure Hunt',),
 ('Ultimate Iconic Crypto (IUC)',)]

### Consulta 8
**Los precios de todos los NFTs entre los años 2017 y 2019 inclusive.**

Ejemplo:

|NFT |Precio |
|----|---|
|Minecraft Sphere |  4000 |
|The Binary Girl | 3000| 
| Koalas in Love | 6000 |
|Minecraft Sphere |  1250 |
| ... | ... |

**Solución:** 

SELECT, Obtenemos el nombre del nft desde la tabla NFT y el precio desde PRECIO_NFT

FROM, INNER JOIN entre la tablas NFT y PRECIO_NFT utilizando id_nft como dato comun, asi tenemos el precio y nombre en una sola tabla unificada

WHERE, para establecer los requisitos de año, usamos EXTRACT para obtener el año de la fecha y asi comprobar que cumpla con el rango de año

In [19]:
%%sql
SELECT nft.nombre AS "NFT",
    precio_nft.precio AS "Precio"
FROM 
    precio_nft INNER JOIN nft
ON
    precio_nft.id_nft = nft.id_nft
WHERE
    EXTRACT(YEAR FROM fecha) >= 2017 AND
    EXTRACT(YEAR FROM fecha) <= 2019

 * postgresql://postgres:***@localhost:5432/Tarea1
115 rows affected.

[('Crypto Raptors', 62257),
 ('The Binary Girl', 48733),
 ('Fight Punks', 90833),
 ('Thunder NFT', 98842),
 ('Crypto Potato', 63041),
 ('Crypto Potato', 97175),
 ('Crypto Potato', 68905),
 ('Futuristic Realism', 55302),
 ('Nova Auroras', 75906),
 ('Nova Auroras', 753),
 ('Dreamy Imaginations', 80132),
 ('Reflected Light', 48389),
 ('Spells of Genesis', 23439),
 ('Spells of Genesis', 40766),
 ('Crypto Felines', 79098),
 ('Crypto Felines', 8286),
 ('Crypto Felines', 18932),
 ('Crypto Felines', 65355),
 ('Dose of Art', 6781),
 ('Dose of Art', 3476),
 ('Artful Antlers', 4173),
 ('Artful Antlers', 12940),
 ('Crypto Diamonds', 2726),
 ('Healthy Hedgehogs', 69973),
 ('Healthy Hedgehogs', 35736),
 ('Crypto Jackpot', 93052),
 ('Minecraft Sphere', 94663),
 ('Crypto Boom', 33429),
 ('Rockin Crypto', 23350),
 ('Crystalline Canyon', 56499),
 ('Mountain of Clouds', 12890),
 ('Blizz Blizzard', 66688),
 ('Cryptokitty Ville', 98158),
 ('Cryptokitty Ville', 99059),
 ('Cryptonaut', 71416),
 ('Mike Halloween Yodelers', 49790),
 ('Aliens Abduction', 52619),
 ('Hilarious Horses', 62571),
 ('1-Love', 3080),
 ('0NOZER0', 29907),
 ('Meteorite NFT', 25946),
 ('Meteorite NFT', 16391),
 ('Bee Token', 69690),
 ('Elephant Treasure Hunt', 97449),
 ('Dust Rift', 89541),
 ('Dust Rift', 91300),
 ('Tokenized Superheroes', 92484),
 ('Tokenized Superheroes', 86105),
 ('Digi Gods', 31852),
 ('Rich Rhinos', 93373),
 ('Funny Frogs', 40246),
 ('Bit NFT', 5707),
 ('Bit NFT', 2411),
 ('Phonetic Phoenix', 95328),
 ('Koalas in Love', 50119),
 ('Touchdown', 43253),
 ('Fair Coin', 67918),
 ('Fair Coin', 5156),
 ('Light Embrace', 79155),
 ('Crypto Bunny Ranch', 57326),
 ('Crypto Bunny Ranch', 26450),
 ('Crypto Pigeon Race', 91731),
 ('Crypto Kitties', 45620),
 ('Crypto Kitties', 97769),
 ('Busy Bats', 48919),
 ('Busy Bats', 70420),
 ('Pandamonium', 61262),
 ('3D Me', 1327),
 ('3D Me', 5246),
 ('Midas NFTs', 6177),
 ('Graceful Gorillas', 46844),
 ('Graceful Gorillas', 3723),
 ('Graceful Gorillas', 9287),
 ('United Crypto Token (UCT)', 4513),
 ('Dark Horse Lady', 53047),
 ('Arty Arts', 39019),
 ('Arty Arts', 63041),
 ('Krypto Queen', 11164),
 ('Qat Tree Unicorn', 93225),
 ('Artificial Rocks', 4979),
 ('0NOCH0', 83013),
 ('Flame Blade', 95470),
 ('Doge Pal', 7486),
 ('Doge Pal', 28371),
 ('Doge Pal', 51317),
 ('Doge Pal', 19183),
 ('Elite Fur Dog Race Club', 90658),
 ('Elite Fur Dog Race Club', 90770),
 ('Moonlit Butterfly', 80244),
 ('Art Lover Box', 14057),
 ('Art Lover Box', 51692),
 ('Fantasy Token', 54036),
 ('Burger Bits', 43403),
 ('Crypto Potluck', 32594),
 ('Crypto Potluck', 14124),
 ('Cyberboxer', 39976),
 ('Calm Crows', 94831),
 ('Dapper Dinos', 91300),
 ('Dapper Dinos', 75065),
 ('Flame Cats', 28865),
 ('Addictive Animals', 79012),
 ('Addictive Animals', 67425),
 ('Alice Wonderland Frozen Carolers', 10954),
 ('Coin Dance', 74621),
 ('Coin Dance', 48372),
 ('Coin Dance', 68613),
 ('Silver Lining Pixy', 21079),
 ('Headed Shark Attack', 27738),
 ('Headed Shark Attack', 41964),
 ('Headed Shark Attack', 40919),
 ('Ultimate League Of Paragon', 64371),
 ('Darker Clouds', 82751),
 ('Brush Point', 38027),
 ('Enthusiastic Elephants', 26859),
 ('Pink Sports Cars', 33796)]

### Consulta 9 
**Creador al cual le han comprado más NFTs.**

Ejemplo:
   
|Nombre |Apellido |Cantidad |
|-|--|-----|
| Levi |Ackerman |32|

**Solución:** _Escriba aquí la descripción de su solución._

In [20]:
%%sql
SELECT
    * 
FROM 
    Creadores
WHERE
    nombre = 'WillyRex';

 * postgresql://postgres:***@localhost:5432/Tarea1
0 rows affected.

[]

### Consulta 10  
**El NFT con mayor precio actual, que pertenezca a un creador X.**

Ejemplo:
   
|NFT |Valor|
|-|-------|
|Minecraft Sphere |18000|

**Solución:** Con SELECT mostramos el nobre del nft y su precio

En el FROM uniremos 5 tablas, la primera (info_precio) esa una reduccion de precio_nft, en la que seleccionamos fecha y precio

La unimos con una reduccione de precio_nft (fecha_actual), en la que msotramos el id del nft y su fecha actual, la unimos con la anterior por su fecha, asi nos deja una tabla solo con las fechas actuales

Luego unimos una tercera tabla (info_nft), la que es una reduccion de nft la cual nos muestra el id y el nombre, la unimos a la anterior por el id_nft

Luego la unimos con usuario_tiene_nft, por el id_nft

y finalmente unimos una reduccion de usuario en la cual mostramos su nombre e id_usuario, usamos WHERE para seleccionar al usuario que queremos conozer su nft mas alto (X), esta la unimos a usuario_tiene_nft por el id_usuario


Agrupamos por info_nft.nombre y info_precio.precio, ordenamos por precio maximo de forma decendiente, para dejar el nft mas caro arriba y luego limitamos a uno.

In [23]:
%%sql
SELECT 
    info_nft.nombre AS "NFT",
    info_precio.precio AS "Valor"
FROM (
        SELECT 
            fecha, 
            precio
        FROM 
            precio_nft
    ) info_precio
    INNER JOIN (
        SELECT 
            id_nft, 
            MAX(fecha) AS max_fecha
        FROM 
            precio_nft
        GROUP BY 
            id_nft
    ) fecha_actual
    ON
        info_precio.fecha = fecha_actual.max_fecha
    INNER JOIN (
        SELECT 
            id_nft, 
            nombre,
            id_creador
        FROM 
            nft 
    ) info_nft
    ON 
        fecha_actual.id_nft = info_nft.id_nft
    INNER JOIN (
        SELECT
            id_creador,
            nombre
        FROM 
            creadores
        WHERE
            id_creador = 1 /*Cambiar a eleccion*/
    ) info_creador
    ON info_creador.id_creador = info_nft.id_creador

GROUP BY
    info_nft.nombre,
    info_precio.precio
ORDER BY 
    MAX(precio) DESC
LIMIT 1;

 * postgresql://postgres:***@localhost:5432/Tarea1
1 rows affected.

[('Fight Punks', 90833)]

### Consulta BONUS
###### (Vale por un abrazo psicológico)

**El usuario que posee más dinero en NFTs considerando los precios actuales de estos**

Ejemplo:
   
|Usuario |Dinero|
|-|-------|
|Levi Ackerman |8000001|

**Solución:** _Escriba aquí la descripción de su solución._

In [22]:
%%sql
SELECT
    * 
FROM 
    Creadores
WHERE
    nombre = 'WillyRex';

 * postgresql://postgres:***@localhost:5432/Tarea1
0 rows affected.

[]