# Tarea 1 Bases de Datos 2022-1 Grupo XX

_Recuerde modificar esta celda y la siguiente! (Borre esta línea también)._

## Integrantes:
* Russel Guevara - 202073121-7
* Pedro Orellana Collins - 202073059-8
* Joaquín Pabst Olmedo - 202073016-4

## Requisitos para Correr el Notebook

Para poder utilizar este Notebook se debe tener instalado:
- **Python 3**
- **Jupyter**
- La librería **ipython-sql** (Poder ejecutar sql en Jupyter Notebook)
- ToolKit **sqlalchemy**
- PostgreSQL y su conector desde Python(**psycopg2**)

**IMPORTANTE:** Este Jupyter Notebook se conectará a su servicio de Base de Datos PostgreSQL de manera **local**, por lo que **no funcionará correctamente en el entorno Google Collab.**

Para instalar las dependencias, ejecute (recuerde actualizar pip3):

In [1]:
! pip3 install ipython-sql
! pip3 install sqlalchemy
! pip3 install psycopg2

#Use to generate names
! pip3 install names

Requirement already satisfied: ipython-sql in c:\users\joaco\appdata\local\programs\python\python310\lib\site-packages (0.4.0)
Requirement already satisfied: sqlparse in c:\users\joaco\appdata\local\programs\python\python310\lib\site-packages (from ipython-sql) (0.4.2)
Requirement already satisfied: ipython>=1.0 in c:\users\joaco\appdata\local\programs\python\python310\lib\site-packages (from ipython-sql) (8.1.1)
Requirement already satisfied: prettytable<1 in c:\users\joaco\appdata\local\programs\python\python310\lib\site-packages (from ipython-sql) (0.7.2)
Requirement already satisfied: ipython-genutils>=0.1.0 in c:\users\joaco\appdata\local\programs\python\python310\lib\site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: six in c:\users\joaco\appdata\local\programs\python\python310\lib\site-packages (from ipython-sql) (1.16.0)
Requirement already satisfied: sqlalchemy>=0.6.7 in c:\users\joaco\appdata\local\programs\python\python310\lib\site-packages (from ipython-sql) (1.4.32)
Requirement already satisfied: colorama in c:\users\joaco\appdata\local\programs\python\python310\lib\site-packages (from ipython>=1.0->ipython-sql) (0.4.4)
Requirement already satisfied: backcall in c:\users\joaco\appdata\local\programs\python\python310\lib\site-packages (from ipython>=1.0->ipython-sql) (0.2.0)
Requirement already satisfied: matplotlib-inline in c:\users\joaco\appdata\local\programs\python\python310\lib\site-packages (from ipython>=1.0->ipython-sql) (0.1.3)
Requirement already satisfied: pygments>=2.4.0 in c:\users\joaco\appdata\local\programs\python\python310\lib\site-packages (from ipython>=1.0->ipython-sql) (2.11.2)
Requirement already satisfied: pickleshare in c:\users\joaco\appdata\local\programs\python\python310\lib\site-packages (from ipython>=1.0->ipython-sql) (0.7.5)
Requirement already satisfied: setuptools>=18.5 in c:\users\joaco\appdata\local\programs\python\python310\lib\site-packages (from ipython>=1.0->ipython-sql) (58.1.0)
Requirement already satisfied: stack-data in c:\users\joaco\appdata\local\programs\python\python310\lib\site-packages (from ipython>=1.0->ipython-sql) (0.2.0)
Requirement already satisfied: jedi>=0.16 in c:\users\joaco\appdata\local\programs\python\python310\lib\site-packages (from ipython>=1.0->ipython-sql) (0.18.1)
Requirement already satisfied: traitlets>=5 in c:\users\joaco\appdata\local\programs\python\python310\lib\site-packages (from ipython>=1.0->ipython-sql) (5.1.1)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in c:\users\joaco\appdata\local\programs\python\python310\lib\site-packages (from ipython>=1.0->ipython-sql) (3.0.28)
Requirement already satisfied: decorator in c:\users\joaco\appdata\local\programs\python\python310\lib\site-packages (from ipython>=1.0->ipython-sql) (5.1.1)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\joaco\appdata\local\programs\python\python310\lib\site-packages (from sqlalchemy>=0.6.7->ipython-sql) (1.1.2)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in c:\users\joaco\appdata\local\programs\python\python310\lib\site-packages (from jedi>=0.16->ipython>=1.0->ipython-sql) (0.8.3)
Requirement already satisfied: wcwidth in c:\users\joaco\appdata\local\programs\python\python310\lib\site-packages (from prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0->ipython>=1.0->ipython-sql) (0.2.5)
Requirement already satisfied: pure-eval in c:\users\joaco\appdata\local\programs\python\python310\lib\site-packages (from stack-data->ipython>=1.0->ipython-sql) (0.2.2)
Requirement already satisfied: asttokens in c:\users\joaco\appdata\local\programs\python\python310\lib\site-packages (from stack-data->ipython>=1.0->ipython-sql) (2.0.5)
Requirement already satisfied: executing in c:\users\joaco\appdata\local\programs\python\python310\lib\site-packages (from stack-data->ipython>=1.0->ipython-sql) (0.8.3)
Requirement already satisfied: sqlalchemy in c:\users\joaco\appdata\local\programs\python\python310\lib\site-packages (1.4.32)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\joaco\appdata\local\programs\python\python310\lib\site-packages (from sqlalchemy) (1.1.2)
Requirement already satisfied: psycopg2 in c:\users\joaco\appdata\local\programs\python\python310\lib\site-packages (2.9.3)
Requirement already satisfied: names in c:\users\joaco\appdata\local\programs\python\python310\lib\site-packages (0.3.0)

## Importar dependencias

In [1]:
from datetime import datetime
import random as r
import names
import string

#Librerías para PostgreSQL
import psycopg2

Para conectarse a la base de datos, completen los datos relevantes en la variable DATABASE_URL.

* Cambie `user` por el usuario que utilizó en Postgres para acceder a la Base de Datos. Por defecto `postgres`.
* Cambie `password` por la contraseña de dicho usuario. **Recuerde borrarla antes de entregar su tarea.**
* Cambie `port` por el puerto en que se ejecuta su servicio de Base de Datos. Por defecto `5432`.
* Cambie `database` por el nombre de la BD (Schema) que creó en Postgres.

Ejemplo: `postgresql://postgres:pass_segura@localhost:5432/tarea-bd`

In [2]:
%reload_ext sql
%env DATABASE_URL=postgresql://postgres:12346@localhost:5432/Tarea1

env: DATABASE_URL=postgresql://postgres:12346@localhost:5432/Tarea1

Para conectarse de forma declarativa a la Base de Datos, utilice el siguiente código:

In [3]:
#Recuerde cambiar los valores de USER, DBNAME y PASSWORD por los mismos de la celda superior.
connection = psycopg2.connect(
   host="localhost",
   user="postgres",
   dbname='Tarea1',
   password="12346"
)

print(connection)
cursor = connection.cursor()

<connection object at 0x000001FE02CA0F20; dsn: 'user=postgres password=xxx dbname=Tarea1 host=localhost', closed: 0>

## Crear tablas

Aquí inserta el código SQL que creara las tablas de la base de datos:

### Tabla "Usuarios"

In [5]:
%%sql
CREATE TABLE Usuarios (
    ID_usuario INTEGER GENERATED BY DEFAULT AS IDENTITY,
    nombre VARCHAR (45) NOT NULL,
    apellido VARCHAR (45),
    correo VARCHAR (45) NOT NULL,
    contraseña VARCHAR (50) NOT NULL,
    fecha_registro TIMESTAMP NOT NULL,

    PRIMARY KEY (ID_usuario)
);

Done.

[]

### Tabla "Creadores"

In [6]:
%%sql
CREATE TABLE Creadores (
    ID_creador INTEGER GENERATED BY DEFAULT AS IDENTITY,
    nombre VARCHAR (45) NOT NULL,
    apellido VARCHAR (45) NOT NULL,
    popularidad INTEGER,
    Estilo VARCHAR (45),

    PRIMARY KEY (ID_creador)
);

 * postgresql://postgres:***@localhost:5432/Tarea1
Done.

[]

### Tabla "Tipos_NTF"

In [7]:
%%sql
CREATE TABLE Tipos_NFT (
    ID_tipo INTEGER GENERATED BY DEFAULT AS IDENTITY,
    nombre VARCHAR (20) NOT NULL,

    PRIMARY KEY (ID_tipo)
);

 * postgresql://postgres:***@localhost:5432/Tarea1
Done.

[]

### Tabla "NFT"

In [8]:
%%sql
CREATE TABLE NFT (
    ID_nft INTEGER GENERATED BY DEFAULT AS IDENTITY,
    nombre VARCHAR (45) NOT NULL,
    ID_creador INTEGER NOT NULL,
    id_tipo INTEGER,

    PRIMARY KEY (ID_nft),
    FOREIGN KEY (ID_creador)
        REFERENCES Creadores (ID_creador),
    FOREIGN KEY (id_tipo)
        REFERENCES Tipos_NFT (ID_tipo)
);

 * postgresql://postgres:***@localhost:5432/Tarea1
Done.

[]

### Tabla "Precio NFT"

In [9]:
%%sql
CREATE TABLE Precio_NFT (
    ID_nft INTEGER,
    fecha TIMESTAMP NOT NULL,
    precio INT NOT NULL,

    PRIMARY KEY (ID_nft, fecha),
    FOREIGN KEY (ID_nft)
        REFERENCES NFT (ID_nft)
);

 * postgresql://postgres:***@localhost:5432/Tarea1
Done.

[]

### Tabla "Usuario tiene NFT"

In [10]:
%%sql
CREATE TABLE Usuario_tiene_NFT (
    id_usuario INTEGER,
    id_nft INTEGER,
    PRIMARY KEY (id_usuario, id_nft),
    FOREIGN KEY (id_usuario)
        REFERENCES Usuarios (ID_usuario),
    FOREIGN KEY (id_nft)
        REFERENCES NFT (ID_nft)        
);

 * postgresql://postgres:***@localhost:5432/Tarea1
Done.

[]

## Código Generador de Datos

Ejecute este código para cargar datos a las tablas creadas.

PD: Si el codigo tira error por "violar la unicidad de las PK" es por una coincidencia de numeros random, solamente volver a ejecutar el codigo

In [11]:
#Recuerde haber ejecutado todas las celdas anteriores!

# Generador de timestamp aleatorio.
def generate_timestamp():
    year = r.randint(2015,2022)
    month = r.randint(1,12)
    day = r.randint(1,31)
    
    hour = r.randint(0,23)
    minute = r.randint(0,59)
    second = r.randint(0,59)
    
    if month in [4, 6, 9, 11] and day > 30:
        day = 30
        
    if month == 2 and day > 28:
        day = 28
        
    return datetime(year, month, day, hour, minute, second)

def generate_password():
    return ''.join(r.choice(string.ascii_uppercase + string.digits) for x in range(15))

print("Borrando Datos Antiguos...")

# Limpia la base de datos.
connection.commit() # En caso de algun error
query = "TRUNCATE TABLE usuarios, creadores, tipos_nft, nft, precio_nft, usuario_tiene_nft RESTART IDENTITY"
cursor.execute(query)
connection.commit()


print("Generando Datos...")

nft_names = ['Crypto Raptors', 'The Binary Girl', 'Sphere Art', 'Fight Punks', 'Thunder NFT', 'Artistic Alpha', 'Digital Unicorns', 'Bling Bits', 'Secret Stones', 'Crypto Potato', 'Futuristic Realism', 'Nova Auroras', 'Dreamy Imaginations', 'Reflected Light', 'Spells of Genesis', 'Crypto Felines', 'Dose of Art', 'To The Moon', 'Artful Antlers', 
'Butterfly Dust', 'Depressed Dragons', 'Crypto Diamonds', 'Healthy Hedgehogs', 'Crypto Jackpot', 'Minecraft Sphere', 'Crypto Boom', 'Lucky Lizards', 'Rockin Crypto', 'Crystalline Canyon', 'Koala Kickers', 'Clumsy Crocodiles', 'Mountain of Clouds', 'Blizz Blizzard', 'Cryptokitty Ville', 'Cryptonaut', 'Mike Halloween Yodelers', 'The Teacup Pomeranian', 
'Art Dodger', 'Awesome Concept', 'Aliens Abduction', 'Animated Hard Art', 'Ultimate Iconic Crypto (IUC)', 'Hilarious Horses', '1-Love', '0NOZER0', 'Meteorite NFT', 'Bee Token', 'Elephant Treasure Hunt', 'Crypto Life', '1NiTRO', 'Dust Rift', 'Tokenized Superheroes', 'Techno Abstract Aesthetics', 'Digi Gods', 'Outstanding Octopus', 'Panther NFT', 
'Cypherpunk Samurai', 'Rich Rhinos', 'Crypto Punked', 'Funny Frogs', 'Bit NFT', 'Phonetic Phoenix', 'Flame Stinger', 'Fight For The Title', 'Koalas in Love', 'Touchdown', 'Resilient Rats', 'Bloom of Flowers', 'NFT Lord', 'Fair Coin', 'Art Rumble', 'Light Embrace', 'Crypto Bunny Ranch', 'Crypto Pigeon Race', 'Water Wiggle', 'Wowoo World', 
'Crypto Club', 'Crypto Kitties Of War', 'Visionary Crypto', 'Women Power', 'Rainbows Ends', 'Cards of Polo', 'Crypto Kitties', 'Busy Bats', '0xHile', 'Token Watchdogs', 'Non Fungible Nibbles', 'Pandamonium', '3D Me', 'Midas NFTs', 'Graceful Gorillas', 'United Crypto Token (UCT)', 'Crypto Art Gallery', 'Dark Horse Lady', 'Block View', 'Arty Arts', 
'White Storm', 'Krypto Queen', 'Clever Chimp', 'Qat Tree Unicorn', 'Anna Frozen Entertainers', 'Artificial Rocks', '0NOCH0', 'Flame Blade', 'The Gold Betta', 'Doge Pal', 'Elite Fur Dog Race Club', 'Dust Sifter', 'Moonlit Butterfly', 'Art Lover Box', 'Madame Witch', 'Fantasy Token', 'Bitsy', 'Hive City', 'Couch Potato', 'Burger Bits', 'Crypto Potluck', 
'Cyberboxer', 'Calm Crows', 'Crumbs NFT', 'Mint Chocolates', 'Atollon Coral', 'Dapper Dinos', 'Flame Cats', 'Addictive Animals', 'Alice Wonderland Frozen Carolers', 'Coin Dance', 'Giant Coin', 'Silver Lining Pixy', 'Headed Shark Attack', 'Ultimate League Of Paragon', 'Darker Clouds', 'Blue Mood Chip', 'Brush Point', 'Enthusiastic Elephants', 'Ultra Cool Dogs', 
'Pink Sports Cars']

dominios = ["hola.cl", "google.com","usm.cl","prestigio.usm.cl","crypto.co","basededatos.top"]

tipos_nft = [
    ("Imagen",), ("Musica",),("Juegos",), ("Modelo 3D",), ("Pixel",), ("Membresia",),("Arte",),
]

estilos = [
    ("Anime",),("Manga",),("Arte Retro",),("Arte Moderno",),("Impresionismo",),("Barroco",),("Arte Antiguo",),("Arte 3D",),("Paisaje",)
]

n_usuarios = 200
n_creadores = 20
n_nft = len(nft_names)
n_tipos_nft = len(tipos_nft)
n_usuario_tiene_nft = 80

usuarios = []
for _ in range(1, n_usuarios+1):
    nombre = names.get_first_name()
    apellido = names.get_last_name()
    correo = nombre.lower()+"."+apellido[:4].lower()+"@"+r.choice(dominios)
    usuarios.append((nombre,apellido,correo,generate_password(),generate_timestamp()))

creadores = [(names.get_first_name(), names.get_last_name(), r.randint(0,5), r.choice(estilos)) for _ in range(1,n_creadores+1)]

nft = [(nft_names[n], r.randint(1,n_creadores), r.randint(1,n_tipos_nft)) for n in range(n_nft)]

precio_nft = [(r.randint(1,n_nft), generate_timestamp(), r.randint(500, 100000)) for _ in range(300)]

usuario_tiene_nft = [(r.randint(1,n_usuarios),r.randint(1,n_nft)) for _ in range(81)]


insert = [
    "INSERT INTO usuarios (nombre, apellido, correo, contraseña, fecha_registro) VALUES (%s, %s, %s, %s, %s)",
    "INSERT INTO creadores (nombre, apellido, popularidad, estilo) VALUES (%s, %s, %s, %s)",
    "INSERT INTO tipos_nft (nombre) VALUES (%s)",
    "INSERT INTO nft (nombre, id_creador, id_tipo) VALUES (%s, %s, %s)",
    "INSERT INTO precio_nft (id_nft, fecha, precio) VALUES (%s, %s, %s)",
    "INSERT INTO usuario_tiene_nft (id_usuario, id_nft) VALUES (%s, %s)"
]


for usuario in usuarios:
    cursor.execute(insert[0], usuario)

for creador in creadores:
    cursor.execute(insert[1], creador) 

for tipo in tipos_nft:
    cursor.execute(insert[2], tipo)  

for n in nft:
    cursor.execute(insert[3], n)  
    
for precio in precio_nft:
    cursor.execute(insert[4], precio) 
    
for usr in usuario_tiene_nft:
    cursor.execute(insert[5], usr)
    
connection.commit()

print("Todo Listo!")

Borrando Datos Antiguos...
Generando Datos...
Todo Listo!

## Consultas

Escriba aquí las consultas pedidas. Recuerde agregar una descripción _breve_ de cómo funciona la solución. **Escriba las consultas de forma ordenada.**

**NOTA:** Cuando en una consulta diga "X cosa" significa que ustedes deben de elegir ese X por lo que para cualquier otro X debe de funcionar de igual forma.

### Consulta 1
**ID y Nombre del creador de un estilo X con mayor popularidad.**
###### Si hay más de uno, ponga solamente el primero

Ejemplo:

|Id |  Creador      |
|---|-----------|
| 12 |Levi Ackerman |

**Solución:** 
SELECT para mostrar la id del creador y 
utilizamos ALIAS para juntar los datos de nombre y apellido, además de operadores para poner un espacio entre estos,
de la tabla creadores

el WHERE es para elegir el estilo que debe tener el creador, puede ser remplazado por cualquier estilo X

ORDER BY, ordena los datos segun la popularidad y el DESC nos asegura que el primer dato es el mayor

LIMIT 1, asegura que se muestre solo el primer valor, el cual gracias al ORDER BY DESC, termina por ser el mayor.

In [5]:
%%sql
SELECT
id_creador, nombre || ' ' || apellido AS creador 
FROM 
    creadores
WHERE
    estilo = 'Paisaje'
ORDER BY 
    popularidad DESC
LIMIT
    1;

 * postgresql://postgres:***@localhost:5432/Tarea1
1 rows affected.

[(13, 'Casey Lindsey')]

### Consulta 2
**Cantidad de precios que ha tenido históricamente cada NTF.**

Ejemplo:


| NFT     | Cantidad de precios |
|--------------|----------|
| Minecraft Sphere |    3     |
| The Binary Girl     |    7     |
| ...          |   ...    |

**Solución:** Con SELECT mostramos el nombre del nft (nft.nombre) y la cantidad de precios que tiene este nft (COUNT(precio)) a estos les ponemos sus respectivas alias.

En el FROM hacemos un INNER JOIN de la tabla nft y la precio_nft, donde calzaran en el id del nft (precio_nft.id_nft = nft.id_nft), esto con el fin de generar una tabla en la tengamos los datos del nft y sus precios a lo largo del tiempo), luego los agrupamos por nombre.

In [6]:
%%sql
SELECT 
    nft.nombre AS "NFT", 
    COUNT(precio) AS "Cantidad de precios"
FROM 
    nft INNER JOIN precio_nft 
ON 
    precio_nft.id_nft = nft.id_nft
GROUP BY 
    nft.nombre;

 * postgresql://postgres:***@localhost:5432/Tarea1
120 rows affected.

[('Spells of Genesis', 2),
 ('Dose of Art', 2),
 ('Art Rumble', 2),
 ('Aliens Abduction', 3),
 ('Meteorite NFT', 4),
 ('Atollon Coral', 3),
 ('Minecraft Sphere', 1),
 ('Bling Bits', 3),
 ('United Crypto Token (UCT)', 1),
 ('Depressed Dragons', 5),
 ('Crypto Jackpot', 2),
 ('Artificial Rocks', 2),
 ('Artistic Alpha', 2),
 ('Light Embrace', 1),
 ('Pink Sports Cars', 3),
 ('Cards of Polo', 2),
 ('Addictive Animals', 3),
 ('Visionary Crypto', 3),
 ('Animated Hard Art', 2),
 ('Lucky Lizards', 3),
 ('Flame Stinger', 2),
 ('Bloom of Flowers', 2),
 ('Doge Pal', 3),
 ('Art Lover Box', 3),
 ('The Gold Betta', 3),
 ('Darker Clouds', 2),
 ('Digital Unicorns', 3),
 ('Digi Gods', 3),
 ('Token Watchdogs', 2),
 ('Futuristic Realism', 1),
 ('0NOCH0', 4),
 ('Wowoo World', 4),
 ('Crypto Felines', 1),
 ('Ultra Cool Dogs', 7),
 ('Crypto Pigeon Race', 1),
 ('Mint Chocolates', 2),
 ('Rainbows Ends', 4),
 ('1-Love', 2),
 ('Tokenized Superheroes', 2),
 ('Alice Wonderland Frozen Carolers', 4),
 ('Anna Frozen Entertainers', 2),
 ('Rich Rhinos', 2),
 ('Secret Stones', 2),
 ('Crypto Club', 1),
 ('Crumbs NFT', 2),
 ('Elite Fur Dog Race Club', 1),
 ('Mountain of Clouds', 3),
 ('Couch Potato', 2),
 ('Panther NFT', 3),
 ('Hive City', 6),
 ('Cryptokitty Ville', 4),
 ('Moonlit Butterfly', 3),
 ('Crystalline Canyon', 2),
 ('Brush Point', 1),
 ('Reflected Light', 4),
 ('Outstanding Octopus', 4),
 ('Healthy Hedgehogs', 1),
 ('Crypto Potluck', 3),
 ('Thunder NFT', 1),
 ('Techno Abstract Aesthetics', 2),
 ('Dust Rift', 6),
 ('Giant Coin', 5),
 ('Touchdown', 2),
 ('Midas NFTs', 1),
 ('Funny Frogs', 3),
 ('Calm Crows', 3),
 ('Crypto Punked', 4),
 ('Dark Horse Lady', 1),
 ('Dreamy Imaginations', 2),
 ('Crypto Diamonds', 3),
 ('Madame Witch', 2),
 ('Busy Bats', 3),
 ('Dapper Dinos', 2),
 ('Blizz Blizzard', 1),
 ('Dust Sifter', 3),
 ('Pandamonium', 2),
 ('Crypto Raptors', 6),
 ('Crypto Boom', 3),
 ('Crypto Life', 1),
 ('1NiTRO', 1),
 ('Koala Kickers', 1),
 ('Krypto Queen', 4),
 ('Graceful Gorillas', 3),
 ('To The Moon', 2),
 ('Qat Tree Unicorn', 1),
 ('NFT Lord', 1),
 ('Fight Punks', 2),
 ('Mike Halloween Yodelers', 4),
 ('Art Dodger', 2),
 ('Cyberboxer', 2),
 ('Sphere Art', 3),
 ('White Storm', 2),
 ('Burger Bits', 1),
 ('The Binary Girl', 2),
 ('Flame Blade', 2),
 ('The Teacup Pomeranian', 4),
 ('Fantasy Token', 6),
 ('Cypherpunk Samurai', 2),
 ('Awesome Concept', 1),
 ('Crypto Potato', 1),
 ('Crypto Bunny Ranch', 1),
 ('3D Me', 2),
 ('Fight For The Title', 5),
 ('Phonetic Phoenix', 2),
 ('Rockin Crypto', 1),
 ('Clumsy Crocodiles', 5),
 ('Flame Cats', 1),
 ('Headed Shark Attack', 4),
 ('Silver Lining Pixy', 2),
 ('Crypto Kitties', 3),
 ('Enthusiastic Elephants', 5),
 ('Arty Arts', 1),
 ('Water Wiggle', 2),
 ('Blue Mood Chip', 2),
 ('Resilient Rats', 2),
 ('Elephant Treasure Hunt', 1),
 ('Block View', 2),
 ('0xHile', 3),
 ('Ultimate Iconic Crypto (IUC)', 1),
 ('Bit NFT', 2)]

### Consulta 3
**El nombre y tipo (nombre del tipo) del NFT históricamente más caro.**
###### Si hay más de uno, ponga solamente el primero
Ejemplo:

| NFT    | Tipo | 
|----------------|--------|
| Minecraft Sphere| Arte 3D |

**Solución:** 

SELECT para obtener el nombre de la tabla nft, y el tipo, desde la tabla tipos_nft
FROM e INNER JOINS para juntar la información encontrada en las tablas nft, precio_nft y tipos_nft, usando la id del nft como dato comun
ORDER BY precio DESC; para dejar como primera fila, al nft con precio más alto
LIMIT 1 para solo tomar en consideración la primera fila

In [6]:
%%sql
SELECT 
    nft.nombre AS "NFT", 
    tipos_nft.nombre  AS "Tipo"
FROM 
    nft INNER JOIN precio_nft
ON 
    nft.id_nft = precio_nft.id_nft INNER JOIN tipos_nft
ON 
    nft.id_tipo = tipos_nft.id_tipo
ORDER BY
    precio DESC
LIMIT 1

 * postgresql://postgres:***@localhost:5432/Tarea1
1 rows affected.

[('Visionary Crypto', 'Arte')]

### Consulta 4
**Nombre y apellido del usuario con más número de NFTs.**

Ejemplo:

| Nombre     | Apellido |
|----------------|--------|
| Levi | Ackerman |

**Solución:** 

SELECT para mostrar los datos del usuario pedidos

FROM de la union entre la tabla usuarios y usuario_tiene_nft

ON la id del usuario, asi contamos con toda la info del usuario y sus adquicisiones en la misma tabla

GROUP BY la id de usuario, asi eliminando duplicados

ORDER BY COUNT(id_nft) DESC nos ordena los usuarios segun la cantidad de id_nft que tenian asociado en usuario_tiene_nft, en orden descendiente

y finalmente LIMIT 1 nos deja solo al usuario con el mayor numero de nft asociado a su id

In [7]:
%%sql
SELECT 
    usuarios.nombre AS "Nombre", 
    usuarios.apellido AS "Apellido"
FROM
    usuarios INNER JOIN usuario_tiene_nft
ON
    usuario_tiene_nft.id_usuario = usuarios.id_usuario
GROUP BY
    usuarios.id_usuario
ORDER BY
    COUNT(id_nft) DESC
LIMIT 1;

 * postgresql://postgres:***@localhost:5432/Tarea1
1 rows affected.

[('Eda', 'Ostler')]

### Consulta 5
**El NFT que más veces cambió de precio historicamente.**

Ejemplo:

|  ID  | NFT | 
|--------|-------|
| 11 |Minecraft Sphere | 

**Solución:** Con SELECT mostramos el id_nft y nombre, estos de la tabla nft.

En el FROM usamos INNER JOIN para unir las tablas nft y precio_nft, donde el id_nft sea similar

Agrupamos (GROUP BY) por id_nft y usamos ORDER BY  para ordenar con la cantidad de precio de forma decendente, haciendo que el nft con mayor cantidad de precios quede en la parte mas alta

Luego hacemos LIMIT 1 para que solo se muestre el nft con mayores cambies de precio en su historial

In [11]:
%%sql
SELECT 
    nft.id_nft AS "ID",
    nft.nombre AS "NFT"
FROM 
    nft INNER JOIN precio_nft 
ON 
    precio_nft.id_nft = nft.id_nft
GROUP BY 
    nft.id_nft
ORDER BY 
    COUNT(precio) DESC
LIMIT 1;

 * postgresql://postgres:***@localhost:5432/Tarea1
1 rows affected.

[(136, 'Ultra Cool Dogs')]

### Consulta 6
**Usuarios que NO tienen un NFT.**

Ejemplo

|Nombre | Apellido|
|--------|-------|
|Guillermo    | Diaz |
|Markus | Person |
|Rick   | Astley |
|... | ...| 

**Solución:** 

Selecciona nombre y apellido de la tabla usuarios
join une la tabla usuarios con los usuarios que tienen nfts
el calze los usuarios que tienen o no tienen nfts
el on calza segun el id de usuario, tengan o no tengan nfts
en el where se pone la condicion donde se elije solo a los que no tienen nft.

In [7]:
%%sql
SELECT 
    usuarios.nombre AS "Nombre", 
    usuarios.apellido AS "Apellido"
FROM
    usuarios LEFT JOIN usuario_tiene_nft 
ON 
    usuarios.id_usuario = usuario_tiene_nft.id_usuario 
WHERE 
    usuario_tiene_nft.id_nft is NULL;

 * postgresql://postgres:***@localhost:5432/Tarea1
135 rows affected.

[('Vincent', 'Marin'),
 ('Berniece', 'Delfin'),
 ('Harry', 'Martinez'),
 ('Carrie', 'Robin'),
 ('James', 'Barrett'),
 ('Paul', 'Stanley'),
 ('Jacquelyn', 'Oliveros'),
 ('Lacy', 'Collins'),
 ('Christine', 'Pattison'),
 ('Mary', 'Ortega'),
 ('Eric', 'Muncie'),
 ('Charles', 'Langston'),
 ('Allan', 'Thomas'),
 ('Alfredo', 'Benally'),
 ('Carla', 'Winger'),
 ('Max', 'Renaud'),
 ('Anne', 'Butler'),
 ('Kevin', 'Neal'),
 ('Jason', 'Harker'),
 ('Albertha', 'Perkins'),
 ('Francis', 'Johnson'),
 ('Ernestina', 'Bahlmann'),
 ('Debra', 'Jones'),
 ('Stephanie', 'Demelo'),
 ('Amanda', 'Dewald'),
 ('Heather', 'Hogan'),
 ('Ashley', 'Lapoint'),
 ('Stephen', 'Brito'),
 ('Danny', 'Mauffray'),
 ('Levi', 'Copeland'),
 ('William', 'May'),
 ('Scott', 'Curley'),
 ('Matthew', 'Pickett'),
 ('Ricardo', 'Goudeau'),
 ('Gregory', 'Perretta'),
 ('Ricardo', 'Tyus'),
 ('Erica', 'Horabik'),
 ('Robert', 'Vance'),
 ('Jayson', 'Dalessio'),
 ('Michael', 'Delgado'),
 ('Gregory', 'Kaiser'),
 ('Linda', 'Petrie'),
 ('Thomas', 'Johnson'),
 ('Gretchen', 'Marquis'),
 ('Gary', 'Plotner'),
 ('Theresa', 'Rehlander'),
 ('Glen', 'Carey'),
 ('Brett', 'Taylor'),
 ('Curtis', 'Brown'),
 ('Lorene', 'Keomuangtai'),
 ('Roseline', 'Valverde'),
 ('Barbara', 'Ayala'),
 ('Linda', 'Spiers'),
 ('Thomas', 'Sylvia'),
 ('Vernon', 'Martin'),
 ('Joan', 'Aveado'),
 ('Christy', 'Cook'),
 ('Steven', 'Mcpherson'),
 ('Deann', 'Bonnett'),
 ('Ronald', 'Gregston'),
 ('Ara', 'Lyons'),
 ('Twana', 'Prunty'),
 ('Louis', 'Cochran'),
 ('Agnes', 'Gibson'),
 ('Dwayne', 'Summers'),
 ('Robert', 'Fleming'),
 ('Betty', 'Christmas'),
 ('Dan', 'Sellers'),
 ('Nathan', 'Clark'),
 ('Robert', 'Leiker'),
 ('Robert', 'Braden'),
 ('Gregory', 'Bacon'),
 ('Frederick', 'Arline'),
 ('Mary', 'Cross'),
 ('Scott', 'Hendrickson'),
 ('Terry', 'Semons'),
 ('Maria', 'Lusk'),
 ('Anthony', 'Smith'),
 ('Allison', 'Sudbury'),
 ('Ivy', 'Mccage'),
 ('Jackie', 'Sperry'),
 ('Patricia', 'Wellington'),
 ('Michael', 'Johnson'),
 ('Doris', 'Harvey'),
 ('Ada', 'Piper'),
 ('Michael', 'Owings'),
 ('Nathan', 'Milner'),
 ('Cindy', 'Hindle'),
 ('Eileen', 'Westfall'),
 ('David', 'Clinton'),
 ('Anne', 'So'),
 ('Amanda', 'Mcclarty'),
 ('Eric', 'Ruhl'),
 ('Shakia', 'Lawson'),
 ('William', 'Hosler'),
 ('Delores', 'Cline'),
 ('Jannie', 'Wallace'),
 ('James', 'Lamoureux'),
 ('Jerry', 'Sanchez'),
 ('Phillip', 'Weaver'),
 ('Mary', 'George'),
 ('Jerome', 'Chapman'),
 ('James', 'Zarrella'),
 ('Tami', 'Thorp'),
 ('Matthew', 'Miller'),
 ('Clarence', 'Rosenbaum'),
 ('Steven', 'Madden'),
 ('Mitchell', 'Bass'),
 ('Eugene', 'Choi'),
 ('Warren', 'Molina'),
 ('Robert', 'Edwards'),
 ('Margaret', 'Harris'),
 ('Roger', 'Goodwin'),
 ('Genesis', 'Lawrence'),
 ('Jean', 'Langford'),
 ('Rachel', 'Rogers'),
 ('Elisabeth', 'Basinger'),
 ('Christina', 'Lesane'),
 ('Caleb', 'Hursey'),
 ('Stacie', 'Beauchamp'),
 ('Jesse', 'Holt'),
 ('Thomas', 'Peacock'),
 ('James', 'Wallace'),
 ('Hugh', 'Guzman'),
 ('Rebecca', 'Wueste'),
 ('Leslie', 'Robles'),
 ('Cassandra', 'Villanueva'),
 ('Myrna', 'Schneeman'),
 ('Anthony', 'Miller'),
 ('Patrick', 'Kee'),
 ('Elizabeth', 'Voorhies'),
 ('Rudolf', 'Martin'),
 ('John', 'Wolley'),
 ('Emma', 'Work'),
 ('Patrick', 'Mcalister')]

### Consulta 7
**Top 4 NFTs más caros actualmente de un id_tipo X .**

Ejemplo:

|NFT | 
|--------|
|Minecraft Sphere | 
|The Binary Girl |
|Koalas in Love | 
|Art Dodger | 

**Solución:** Usamos SELECT DISTINCT para mostrar el nombre de la tabla que haremos en FROM

En el FROM havemos un triple INNER JOIN, la primera tabla (info_precio) es una reduccion de precio_nft en la que seleccionamos solo fecha y precio

La segunda (fecha_actual) es una en la que seleccionamos el id_nft y la fecha maxima del nft (mas actual), esto de la tabla precio_nft, la agrupamos  por id. La primera y la segunda tabla las vinculamos por la fecha. (asi nos deja una tabla solo con las fechas actuales)

La tercera tabla (info_nft) es una reduccion de nft en la cual seleccionamos id_nft, su nombre y utilizamos un WHERE para elegir el tipo del NFT, luego la vinculamos a la primera por id_nft

Con esto creamos una tabla en la que tenemos los datos del nft y el precio que tienen en la fecha actual

agrupamos por nombre (inf_nft.nombre) ordenamos de forma decendiente por el precio maximo y limitamos a cuatro, de esta forma obtenemos el top 4 actual.

In [15]:
%%sql
SELECT 
    info_nft.nombre AS "NFT"
FROM (
        SELECT 
            fecha, 
			precio
		FROM 
			precio_nft
	) info_precio
	INNER JOIN (
		SELECT 
			id_nft, 
			MAX(fecha) AS max_fecha
		FROM 
			precio_nft
		GROUP BY 
			id_nft
	) fecha_actual
	ON
		info_precio.fecha = fecha_actual.max_fecha
	INNER JOIN (
		SELECT 
			id_nft, 
			nombre
		FROM 
			nft
        WHERE
            id_tipo = 3 /*Aqui elegimos el id_tipo */
	) info_nft
ON 
	fecha_actual.id_nft = info_nft.id_nft
GROUP BY 
	info_nft.nombre
ORDER BY 
	MAX(precio) DESC
LIMIT 4;

 * postgresql://postgres:***@localhost:5432/Tarea1
4 rows affected.

[('Crypto Kitties',),
 ('Artificial Rocks',),
 ('Wowoo World',),
 ('Futuristic Realism',)]

### Consulta 8
**Los precios de todos los NFTs entre los años 2017 y 2019 inclusive.**

Ejemplo:

|NFT |Precio |
|----|---|
|Minecraft Sphere |  4000 |
|The Binary Girl | 3000| 
| Koalas in Love | 6000 |
|Minecraft Sphere |  1250 |
| ... | ... |

**Solución:** 

SELECT, Obtenemos el nombre del nft desde la tabla NFT y el precio desde PRECIO_NFT

FROM, INNER JOIN entre la tablas NFT y PRECIO_NFT utilizando id_nft como dato comun, asi tenemos el precio y nombre en una sola tabla unificada

WHERE, para establecer los requisitos de año, usamos EXTRACT para obtener el año de la fecha y asi comprobar que cumpla con el rango de año

In [14]:
%%sql
SELECT nft.nombre AS "NFT",
    precio_nft.precio AS "Precio"
FROM 
    precio_nft INNER JOIN nft
ON
    precio_nft.id_nft = nft.id_nft
WHERE
    EXTRACT(YEAR FROM fecha) >= 2017 AND
    EXTRACT(YEAR FROM fecha) <= 2019

 * postgresql://postgres:***@localhost:5432/Tarea1
126 rows affected.

[('Crypto Raptors', 52578),
 ('Crypto Raptors', 14278),
 ('Crypto Raptors', 34718),
 ('Sphere Art', 3504),
 ('Sphere Art', 16175),
 ('Artistic Alpha', 86670),
 ('Digital Unicorns', 70172),
 ('Bling Bits', 68686),
 ('Bling Bits', 71576),
 ('Crypto Potato', 76035),
 ('Dreamy Imaginations', 49121),
 ('Reflected Light', 15472),
 ('Reflected Light', 4347),
 ('Spells of Genesis', 47197),
 ('Spells of Genesis', 95922),
 ('Crypto Felines', 20959),
 ('To The Moon', 44228),
 ('Depressed Dragons', 73882),
 ('Crypto Diamonds', 5871),
 ('Crypto Boom', 97450),
 ('Crypto Boom', 4574),
 ('Crypto Boom', 648),
 ('Lucky Lizards', 48833),
 ('Lucky Lizards', 6342),
 ('Koala Kickers', 29855),
 ('Clumsy Crocodiles', 12446),
 ('Clumsy Crocodiles', 83794),
 ('Clumsy Crocodiles', 19738),
 ('Clumsy Crocodiles', 985),
 ('Clumsy Crocodiles', 30863),
 ('Mountain of Clouds', 54046),
 ('Mountain of Clouds', 59897),
 ('Blizz Blizzard', 55142),
 ('Mike Halloween Yodelers', 91709),
 ('Mike Halloween Yodelers', 3150),
 ('The Teacup Pomeranian', 74475),
 ('The Teacup Pomeranian', 46437),
 ('The Teacup Pomeranian', 68193),
 ('Art Dodger', 72147),
 ('Awesome Concept', 41490),
 ('Aliens Abduction', 75879),
 ('Aliens Abduction', 8156),
 ('Animated Hard Art', 10020),
 ('Animated Hard Art', 41127),
 ('Ultimate Iconic Crypto (IUC)', 51286),
 ('Meteorite NFT', 76213),
 ('Elephant Treasure Hunt', 73380),
 ('Tokenized Superheroes', 97046),
 ('Techno Abstract Aesthetics', 48295),
 ('Digi Gods', 51782),
 ('Digi Gods', 87615),
 ('Panther NFT', 41142),
 ('Rich Rhinos', 70062),
 ('Bit NFT', 27055),
 ('Bit NFT', 11838),
 ('Fight For The Title', 39561),
 ('Fight For The Title', 95690),
 ('Fight For The Title', 48481),
 ('Resilient Rats', 66508),
 ('Resilient Rats', 52372),
 ('Bloom of Flowers', 50977),
 ('NFT Lord', 41012),
 ('Light Embrace', 15645),
 ('Crypto Bunny Ranch', 29796),
 ('Crypto Pigeon Race', 37126),
 ('Water Wiggle', 69167),
 ('Wowoo World', 78933),
 ('Wowoo World', 12515),
 ('Wowoo World', 27602),
 ('Visionary Crypto', 15672),
 ('Rainbows Ends', 75270),
 ('Rainbows Ends', 58734),
 ('Rainbows Ends', 35347),
 ('Cards of Polo', 30135),
 ('Crypto Kitties', 93927),
 ('Busy Bats', 39746),
 ('0xHile', 31892),
 ('Token Watchdogs', 39742),
 ('Pandamonium', 48637),
 ('3D Me', 3799),
 ('Midas NFTs', 25497),
 ('United Crypto Token (UCT)', 45136),
 ('Block View', 86332),
 ('White Storm', 74197),
 ('White Storm', 86938),
 ('Krypto Queen', 56561),
 ('Krypto Queen', 77348),
 ('Anna Frozen Entertainers', 73132),
 ('Artificial Rocks', 91718),
 ('Artificial Rocks', 2490),
 ('0NOCH0', 57373),
 ('0NOCH0', 34578),
 ('Flame Blade', 77696),
 ('Doge Pal', 15182),
 ('Dust Sifter', 68448),
 ('Dust Sifter', 70072),
 ('Moonlit Butterfly', 60450),
 ('Art Lover Box', 88175),
 ('Fantasy Token', 55298),
 ('Fantasy Token', 50152),
 ('Hive City', 81877),
 ('Hive City', 24793),
 ('Couch Potato', 97395),
 ('Crypto Potluck', 57019),
 ('Crypto Potluck', 98916),
 ('Cyberboxer', 28836),
 ('Calm Crows', 90412),
 ('Atollon Coral', 87295),
 ('Dapper Dinos', 62043),
 ('Addictive Animals', 9063),
 ('Addictive Animals', 80055),
 ('Alice Wonderland Frozen Carolers', 56704),
 ('Alice Wonderland Frozen Carolers', 94899),
 ('Giant Coin', 76445),
 ('Headed Shark Attack', 59535),
 ('Headed Shark Attack', 9783),
 ('Darker Clouds', 71480),
 ('Darker Clouds', 74547),
 ('Blue Mood Chip', 50554),
 ('Brush Point', 82904),
 ('Enthusiastic Elephants', 26574),
 ('Enthusiastic Elephants', 39130),
 ('Enthusiastic Elephants', 36427),
 ('Ultra Cool Dogs', 51089),
 ('Ultra Cool Dogs', 43412),
 ('Ultra Cool Dogs', 77191)]

### Consulta 9 
**Creador al cual le han comprado más NFTs.**

Ejemplo:
   
|Nombre |Apellido |Cantidad |
|-|--|-----|
| Levi |Ackerman |32|

**Solución:** 

SELECT selecciona el nombre de creador y la cantidad de nfts, DISTINCT nos ayuda a evitar contar reventa de un mismo nft
FROM seleciona los datos desde la tabla nft y el JOIN los une con creadores
ON calza los datos segun el id del creador
INNER JOIN es para obtener los datos de los nft vendidos
ON
el GROUP BY los ordena segun el nombre del creador, con su respectiva cantidad de nfts vendidos
el ORDER BY los ordena de mayor a menor
el LIMIT elige el primero, ya que la primera fila es la que mayor nfts ha vendido

In [32]:
%%sql
SELECT 
    creadores.nombre AS "Nombre", creadores.apellido AS "Apellido", COUNT (DISTINCT nft.id_nft) AS "Cantidad"
FROM 
    nft INNER JOIN creadores
ON 
    nft.id_creador = creadores.id_creador
INNER JOIN usuario_tiene_nft
ON 
    nft.id_nft = usuario_tiene_nft.id_nft
GROUP BY
    creadores.nombre, creadores.apellido
ORDER BY
    "Cantidad" DESC
LIMIT 1;

 * postgresql://postgres:***@localhost:5432/Tarea1
1 rows affected.

[('Richard', 'Hammes', 10)]

### Consulta 10  
**El NFT con mayor precio actual, que pertenezca a un creador X.**

Ejemplo:
   
|NFT |Valor|
|-|-------|
|Minecraft Sphere |18000|

**Solución:** 

Con SELECT mostramos el nobre del nft y su precio

En el FROM uniremos 4 tablas, la primera (info_precio) esa una reduccion de precio_nft, en la que seleccionamos fecha y precio

La unimos con una reduccione de precio_nft (fecha_actual), en la que msotramos el id del nft y su fecha actual, la unimos con la anterior por su fecha, asi nos deja una tabla solo con las fechas actuales

Luego unimos una tercera tabla (info_nft), la que es una reduccion de nft la cual nos muestra el id y el nombre, la unimos a la anterior por el id_nft

Luego la unimos con una cuarta tabla (info_creador), que es una reduccion de creadores que nos muestra su id y nombre, en el WHERE seleccionamos el ID DEL CREADOR QUE QUEREMOS SABER

Con lo anterior generamos una tabla con los NFT de un creador y sus precios actuales

Agrupamos por info_nft.nombre y info_precio.precio, ordenamos por precio maximo de forma decendiente, para dejar el nft mas caro arriba y luego limitamos a uno.

In [33]:
%%sql
SELECT 
    info_nft.nombre AS "NFT",
    info_precio.precio AS "Valor"
FROM (
        SELECT 
            fecha, 
            precio
        FROM 
            precio_nft
    ) info_precio
    INNER JOIN (
        SELECT 
            id_nft, 
            MAX(fecha) AS max_fecha
        FROM 
            precio_nft
        GROUP BY 
            id_nft
    ) fecha_actual
    ON
        info_precio.fecha = fecha_actual.max_fecha
    INNER JOIN (
        SELECT 
            id_nft, 
            nombre,
            id_creador
        FROM 
            nft 
    ) info_nft
    ON 
        fecha_actual.id_nft = info_nft.id_nft
    INNER JOIN (
        SELECT
            id_creador,
            nombre
        FROM 
            creadores
        WHERE
            id_creador = 1 /*Cambiar a eleccion*/
    ) info_creador
    ON info_creador.id_creador = info_nft.id_creador

GROUP BY
    info_nft.nombre,
    info_precio.precio
ORDER BY 
    MAX(precio) DESC
LIMIT 1;

 * postgresql://postgres:***@localhost:5432/Tarea1
1 rows affected.

[('Crypto Diamonds', 96563)]

### Consulta BONUS
###### (Vale por un abrazo psicológico)

**El usuario que posee más dinero en NFTs considerando los precios actuales de estos**

Ejemplo:
   
|Usuario |Dinero|
|-|-------|
|Levi Ackerman |8000001|

**Solución:** _Escriba aquí la descripción de su solución._

In [22]:
%%sql
SELECT
    * 
FROM 
    Creadores
WHERE
    nombre = 'WillyRex';

 * postgresql://postgres:***@localhost:5432/Tarea1
0 rows affected.

[]